{% if settings.enablebacktotoparrow %}
    <style>
    .back-to-top {
        position: fixed;
        z-index: 999999;
        bottom: 30px;
        right: 20px;
        width: 40px;
        height: 40px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid #ebebeb;
        transform: rotate(180deg) translateY(-200px);
        transform-origin: center;
        cursor: pointer;
        transition: background-color .2s, transform .2s;
    }
    .back-to-top.back-to-top--visible {
        transform: rotate(180deg) translateY(0);
    }
    .back-to-top:hover {
        background-color: #eaeaea;
    }
    .back-to-top svg{
        width: 20px;
    }
    </style>
    <div class="back-to-top js-back-to-top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" class="icon"><path d="M121.3 34.6c-1.6-1.6-4.2-1.6-5.8 0l-51 51.1-51.1-51.1c-1.6-1.6-4.2-1.6-5.8 0-1.6 1.6-1.6 4.2 0 5.8l53.9 53.9c.8.8 1.8 1.2 2.9 1.2 1 0 2.1-.4 2.9-1.2l53.9-53.9c1.7-1.6 1.7-4.2.1-5.8z"/></svg>
    </div>
    <script>
        window.addEventListener("DOMContentLoaded", function() {
            var backtotop_btn = $('.js-back-to-top');
            function addclass_btt() {
                window.pageYOffset > 300 && window.innerWidth > 767  ? backtotop_btn.addClass("back-to-top--visible") : backtotop_btn.removeClass("back-to-top--visible");
            };
            backtotop_btn.on('click', function(){
                $("html, body").animate({
                    scrollTop: 0
                }, 500)
            });
            $(document).on('scroll', function(){
                addclass_btt();
            });
            $(window).on('resize', function() {
                addclass_btt();
            });
            $(window).on('orientationchange', function(){
                addclass_btt();
            });
            addclass_btt();
        })
    </script>
{% endif %}