{% if product.metafields.custom_fields["ttt"] != blank %}
  <div class="custom-field custom-field__ttt custom-field__type--text">
    <h3 class="custom-field--title">ttt</h3>
    <div class="custom-field--value">
      {{ product.metafields.custom_fields["ttt"] }}
    </div>
  </div>
{% endif %}