<style>
    .product-reasons__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-left: 0;
        list-style-type: none;
    }
    .product-reasons {
    background: #F5F5F5;
    border-radius: 5px;
    padding: 20px 10px;
    margin-bottom: 30px;
    }
    .product-reasons__list li {
    width: 100%;
    margin: 5px;
    list-style-type: none;
    max-width: 34px;
    }
    .product-reasons__list li img{
        display: block;
        width: 100%;
        max-width: 34px;
        margin-left: auto;
        margin-right: auto;
    }
    .product-reasons p {
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #1D1F1E;
    margin-top: 10px;
margin-bottom: 0px;
}
    @media screen and (max-width: 768px) {
        .product-reasons__list li {
            width: 27%;
        }
    }
</style>


<div class="product-reasons">
    <ul class="product-reasons__list">
        {% for i in (1..7) %}
            {% assign reason = 'top_reasons_' | append: i %}
            {% assign reason_image_display = 'top_reasons_' | append: i | append: '_display' %}
            {% assign reason_image = 'top_reasons_' | append: i | append: '_image' %}
            {% assign reason_image = settings[reason_image] %}
            {% unless settings[reason_image_display] %}
                {% continue %}
            {% endunless %}

            <li class="product-reasons__reason">
                <picture class="lazy">
                    <img data-srcset="{{ reason_image | img_url: '100x' }} 1x, {{ reason_image | img_url: '200x' }} 2x"
                        srcset="{{ reason_image | img_url: '100x' }}"
                        alt="Image of {{ reason | escape }}">
                </picture>
            </li>
        {% endfor %}
        <p>GUARANTEED SAFE & SECURE CHECKOUT</p>
    </ul>
</div>