.inline-upsell {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}
.variants_select {
    line-height: 1.15;
    margin: 0;
    background: #efefef;
    border: 1px solid #e2e2e2;
    padding: 6px 4px;
    width: 100%;
    border-radius: 3px;
}
.variants_select:focus {
    outline: 0;
    box-shadow: none;

}
@media screen and (min-width:750px) {
    .inline-upsell {
        padding: 0 5rem;
        display: flex;
        flex-wrap: wrap;
    }
    .inline-upsell__products {
        flex-grow: 1;
        display: flex;
    }
}
.inline-upsell__heading {
    flex-basis: 100%;
}
.inline-upsell__plus:first-child {
    display: none;
}
.inline-upsell__product {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    border-radius: 5px;
    border: 2px solid transparent;
}
.inline-upsell__toggle:checked+.inline-upsell__product {
    background: rgba(0, 0, 0, 0.1);
    border-color: #000000;
}